/*FONTS*/

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.ttf?31749996') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?31749996#icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-dots:before { content: '\e800'; } /* '' */
.icon-spotify:before { content: '\e801'; } /* '' */
.icon-refresh:before { content: '\e802'; } /* '' */
.icon-chev:before { content: '\e803'; } /* '' */
.icon-left-chev:before { content: '\e804'; } /* '' */
.icon-right-chev:before { content: '\e805'; } /* '' */
.icon-up-chev:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */



/* BASICS */
body{
  background-color: #121314;
  color: #fbfbfc;
}

th, td{
  border-color: #222326 !important;
}

th{
  text-transform: uppercase;
  font-weight: 300;
  border-width: 3px;
  color: #888
}

@media (max-width: 549px) {
  .sub-container {
    padding: 0 15px; }
}

.btn{
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 11px 47px 9px;
  transition: background-color .15s ease,border-color .15s ease,color .15s ease;
  border-width: 0;
  letter-spacing: 1.2px;
  min-width: 130px;
  text-transform: uppercase;
}

.btn.primary{
  color: #fff;
  background-color: #2ebd59;
}

.btn.primary:hover{
  background-color: #1ed760;
}

.btn.facebook{
  color: #fff;
  background-color: #3b5998;
}

.btn.facebook:hover{
  background-color: #4e69a2;
}

.btn.twitter{
  color: #fff;
  background-color: #4099FF;
}

.btn.twitter:hover{
  background-color: #53A3FF;
}

.btn-sm{
  font-size: 14px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 6px 35px 6px;
}

.center-page{
  top: 50vh;
}

.center-container{
  margin-top: -100px;
}

.base-image{
  position: absolute;
  bottom: 20px;
  left: 45px;
  height: 50px;
}

@media (max-height: 520px){
  .base-image{
    display: none;
  }
}

.hero-title{
  font-size: 3em;
  text-align: center;
  margin-bottom: 120px;
}

.hero-container{
  max-width: 300px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  position: relative;
}

.page-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

/* BACKGROUNDS */
.concert{
  background-image: url(../images/concert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR */
.menu-nav{
  background-color: rgba(0,0,0,0.7);
  position:fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display:flex;
  flex-direction: column;
  z-index: 999;
}

.icon-container{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  margin-top: calc(50vh - 180px);
}

.home-img{
  width: 40px;
  margin:15px;
}

.icon-container div{
padding: 5px 5px;
text-align:center;
}

.icon-container div .icon-text{
margin-top: -10px;
font-size: 10px;
}

.icon-text{
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.icon-container div svg g path{
  fill: #fbfbfc !important;
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

.nav-button{
  cursor: pointer;
}

.nav-button:hover svg g path, .nav-button:hover .icon-text{
  color: #2ebd59 !important;
  fill: #2ebd59 !important;
}

@media (max-width: 768px){
  .menu-nav{
    height: 70px;
    width: 100vw;

    top: calc(100vh - 70px);
    -webkit-box-orient:horizontal;
    flex-direction: row;
  }
  .icon-container{
    flex-direction: row;
    -webkit-box-orient:horizontal;
    margin: 0 auto;
  }
  .home-img{
    display: none;
  }
  .page-container{
    width: 100%;
    margin-left: 0px;
  }
}
