
/* BASICS */
body{
  background-color: #121314;
  color: #fbfbfc;
}

.btn{
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 11px 47px 9px;
  transition: background-color .15s ease,border-color .15s ease,color .15s ease;
  border-width: 0;
  letter-spacing: 1.2px;
  min-width: 130px;
  text-transform: uppercase;
}

.btn.primary{
  color: #fff;
  background-color: #2ebd59;
}

.btn.primary:hover{
  background-color: #1ed760;
}

.btn.facebook{
  color: #fff;
  background-color: #3b5998;
}

.btn.facebook:hover{
  background-color: #4e69a2;
}

.btn.twitter{
  color: #fff;
  background-color: #4099FF;
}

.btn.twitter:hover{
  background-color: #53A3FF;
}

.btn-sm{
  font-size: 14px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 6px 35px 6px;
}

.center-page{
  top: 50vh;
}

.center-container{
  margin-top: -100px;
}

.base-image{
  position: absolute;
  bottom: 20px;
  left: 45px;
  height: 50px;
}

@media (max-height: 520px){
  .base-image{
    display: none;
  }
}

.hero-title{
  font-size: 3em;
  text-align: center;
  margin-bottom: 120px;
}

.hero-container{
  max-width: 300px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  position: relative;
}

.page-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

/* BACKGROUNDS */
.concert{
  background-image: url(../images/concert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR */
.menu-nav{
  background-color: rgba(0,0,0,0.7);
  position:fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display:flex;
  flex-direction: column;
  z-index: 999;
}

.icon-container{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  margin-top: calc(50vh - 180px);
}

.home-img{
  width: 40px;
  margin:15px;
}

.icon-container div{
padding: 5px 5px;
text-align:center;
}

.icon-container div .icon-text{
margin-top: -10px;
font-size: 10px;
}

.icon-text{
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.icon-container div svg g path{
  fill: #fbfbfc !important;
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

.nav-button{
  cursor: pointer;
}

.nav-button:hover svg g path, .nav-button:hover .icon-text{
  color: #2ebd59 !important;
  fill: #2ebd59 !important;
}

@media (max-width: 768px){
  .menu-nav{
    height: 70px;
    width: 100vw;

    top: calc(100vh - 70px);
    -webkit-box-orient:horizontal;
    flex-direction: row;
  }
  .icon-container{
    flex-direction: row;
    -webkit-box-orient:horizontal;
    margin: 0 auto;
  }
  .home-img{
    display: none;
  }
  .page-container{
    width: 100%;
    margin-left: 0px;
  }
}
