body{
  background-color: #121314;
  color: #fbfbfc;
}

.menu-nav{
  background-color: rgba(0,0,0,0.7);
  position:fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display:flex;
  flex-direction: column;
  z-index: 999;
}

.icon-container{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  margin-top: calc(50vh - 180px);
}

.home-img{
  width: 40px;
  margin:15px;
}

.icon-container div{
padding: 5px 5px;
text-align:center;
}

.icon-container div .icon-text{
margin-top: -10px;
font-size: 10px;
}

.icon-text{
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.icon-container div svg path{
  fill: #fbfbfc !important;
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

.nav-button{
  cursor: pointer;
}

@media (max-width: 768px){
  .menu-nav{
    height: 70px;
    width: 100vw;

    top: calc(100vh - 70px);
    -webkit-box-orient:horizontal;
    flex-direction: row;
  }
  .icon-container{
    flex-direction: row;
    -webkit-box-orient:horizontal;
    margin: 0 auto;
  }
  .home-img{
    display: none;
  }
}
